<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        All Poems
      </h1>
    </div>
  </div>
</section>

<% @poems.each do |poem| %>
  <p><%= link_to poem.title, poem %></p>
<% end %>
