<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Moods
      </h1>
    </div>
  </div>
</section>

<br>

<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child notification is-warning">
      <p class="title is-5">Available moods</p>
      <% @moods.each do |mood| %>
      <p><%= link_to mood.name, mood %></p>
      <% end %>
    </div>

    <div class="tile is-child notification is-danger">
      <p class="title is-5">Popular Moods</p>
      <% @moods.each do |mood| %>
      <p> There are currently <%=mood.poems_count%> poems for a <%= link_to mood.name, mood %> mood</p>
      <% end %>
    </div>



  </div>
</div>
