<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @mood.name %>
      </h1>
    </div>
  </div>
</section>


<% if !@mood.top_poems(5).empty? %>
<h2>Poems</h2>
<% @mood.top_poems(5).each do |poem| %>
  <p><%= link_to poem.title, poem %></p>
<% end %>
<% end %>
