
<br>
<br>


<div class="tile is-acestor">
  <div class="tile">


    <div class="tile is-parent-verticle">
      <article class="tile is-child is notification is-warning">

            <% if !@mood.top_poems(5).empty? %>
            <p class="title">Top Poems</p>
            <% @mood.top_poems(5).each do |poem| %>
              <p><%= link_to poem.title, poem %> by <%=poem.author.full_name%> </p>
            <% end %>
            <% end %>
        </article>
      </div>

  </div>
</div>
