<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <h1 class="title is-large">History</h1>
      </h1>
    </div>
  </div>
</section>

<br>

<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-danger">
          <p class="title">Form</p>
          <p> Hello. Let' explain the basic form of a Haiku. The structure is made up of five syllables in the first line. followed by seven in the second. with five more in the last liine to make a grand total of seven syllables. thats it. </p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Example</p>
          <p>Although this is not <br> a good example, it is <br> in fact, a Haiku.</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">History</p>
          <p>During the Heian period of Japanese culture (700-1100), it was a social requirement to be able to instantly recognize, appreciate and recite Japanese and Chinese poetry. It was around this period that short forms of poetry (tanka) grew in popularity over long forms of poetry (choka). The rigid lifestyles of the time carried over into art; every poem had to have a specific form. The approved form was the 5-7-5 triplet followed by a couplet of seven syllables (this was the Japanese equivalent to the iambic pentameter of Shakespeare's England).</p>
        </article>
      </div>
    </div>
  </div>
</div>
