

<br>

<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-danger">
          <p class="title">Form</p>
          <p> Hello. Let' explain the basic form of a Haiku. The structure is made up of five syllables in the first line. followed by seven in the second. with five more in the last liine to make a grand total of seven syllables. thats it. </p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Example</p>
          <p>Although this is not <br> a good example, it is <br> in fact, a Haiku.</p>
            <br>
            <p><%= link_to "Not great right? Try and do better here?", new_poem_path%></p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">History</p>
          <p>During the Heian period of Japanese culture (700-1100), it was a social requirement to be able to instantly recognize, appreciate and recite Japanese and Chinese poetry. It was around this period that short forms of poetry (tanka) grew in popularity over long forms of poetry (choka). The rigid lifestyles of the time carried over into art; every poem had to have a specific form. The approved form was the 5-7-5 triplet followed by a couplet of seven syllables (this was the Japanese equivalent to the iambic pentameter of Shakespeare's England).The two verses soon became forms of poetry in their own right with the Haiku becoming more popular as western poets began to take up the art.</p>
        </article>
      </div>
    </div>
  </div>
</div>
