<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Users
      </h1>
    </div>
  </div>
</section>


<% @users.each do |user| %>
  <p><%= link_to user.full_name, user %></p>
<% end %>
