<br>


<section class="hero is-success is-medium">
  <div class="hero-body">
    <div class="container">

      <h1 class="title has-text-centered">
        Thanks for Joining Hi!Ku!
      </h1>
      <br>
      <br>
      <h2 class="subtitle has-text-centered">
        Lets get started!
        </h2>

        <br>

        <p class="subtitle has-text-centered"> Try writng your first <%= link_to "Haiku", new_poem_path%></p><br>

        <p class="subtitle has-text-centered"> Dont know what a Haiku is? <%= link_to "Click Here", haiku_history_path%> to find out!</p><br>

        <p class="subtitle has-text-centered"> Or tell us a bit about yourself by finishing your profile <%= link_to "Here", edit_user_path(@user)%></p>
    </div>
  </div>
</section>
